.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
*/*/*/*/.ipynb_checkpoints
*/*/*/*/*/.ipynb_checkpoints

.Rhistory
*/.Rhistory
*/*/.Rhistory
*/*/*/.Rhistory
*/*/*/*/.Rhistory
*/*/*/*/*/.Rhistory
*/*/*/*/*/*/.Rhistory
*/*/*/*/*/*/*/.Rhistory

